@{
    ViewBag.Title = "OriFood";
}

<div class="row">
    @*dòng 1*@
    <div class="section_group">
        <div class="col_1_of_5 span_1_of_5">
            <div class="col_1"><img src="../Scripts/images/pic1.jpg" class="img-responsive" alt="" /></div>
            <div class="desc">
                <h3>
                    <a  data-toggle="modal" data-title="Im so nice" data-caption="abc" data-target="#image-gallery" >
                    
                            Baked Chicken
                            B on the menu !
                        </a>
                    
                    @*@Html.ActionLink("Xem", "ViewPic", "Home", new { }, new { @class = "openDialog", data_dialog_id = "aboutlDialog", data_dialog_title = "" })*@
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore mag...
                </p>
            </div>
        </div>
        <div class="col_1_of_5 span_1_of_5 last">
            <div class="col_1"><img src="../Scripts/images/pic2.jpg" class="img-responsive" alt="" /></div>
            <div class="desc">
                <h3>
                    <a  data-toggle="modal" data-title="Im so nice" data-caption="abc" data-target="#image-gallery" >
                        Pay attention to the
                        dinner table layout.
                    </a>
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore mag...
                </p>
            </div>
        </div>
        <div class="col_1_of_5 span_1_of_5">
            <div class="col_1"><img src="../Scripts/images/pic3.jpg" class="img-responsive" alt="" /></div>
            <div class="desc">
                <h3>
                    <a  data-toggle="modal" data-title="Im so nice" data-caption="abc" data-target="#image-gallery" >
                        Ispanaklı Piliç
                        Comming Soon.
                    </a>
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore mag...
                </p>
            </div>
        </div>
        <div class="col_1_of_5 span_1_of_5">
            <div class="col_1"><img src="../Scripts/images/pic4.jpg" class="img-responsive" alt="" /></div>
            <div class="desc">
                <h3>
                    <a  data-toggle="modal" data-title="Im so nice" data-caption="abc" data-target="#image-gallery" >
                        Dinner table
                        consept amet.
                    </a>
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore mag...
                </p>
            </div>
        </div>
        <div class="col_1_of_5 span_1_of_5">
            <div class="col_1"><img src="../Scripts/images/pic5.jpg" class="img-responsive" alt="" /></div>
            <div class="desc">
                <h3>
                    <a  data-toggle="modal" data-title="Im so nice" data-caption="abc" data-target="#image-gallery" >
                        “Tiramisu”
                        on the menu.
                    </a>
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore mag...
                </p>
            </div>
        </div>        
        <div class="clearfix"></div>
    </div>
    @*dòng 2*@
    <div class="section_group">
        <div class="col_1_of_5 span_1_of_5">
            <div class="col_1"><img src="../Scripts/images/pic1.jpg" class="img-responsive" alt="" /></div>
            <div class="desc">
                <h3>
                    <a  data-toggle="modal" data-title="Im so nice" data-caption="abc" data-target="#image-gallery" >
                        Baked Chicken
                        B on the menu !
                    </a>
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore mag...
                </p>
            </div>
        </div>
        <div class="col_1_of_5 span_1_of_5 last">
            <div class="col_1"><img src="../Scripts/images/pic2.jpg" class="img-responsive" alt="" /></div>
            <div class="desc">
                <h3>
                    <a  data-toggle="modal" data-title="Im so nice" data-caption="abc" data-target="#image-gallery" >
                        Pay attention to the
                        dinner table layout.
                    </a>
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore mag...
                </p>
            </div>
        </div>
        <div class="col_1_of_5 span_1_of_5">
            <div class="col_1"><img src="../Scripts/images/pic3.jpg" class="img-responsive" alt="" /></div>
            <div class="desc">
                <h3>
                    <a  data-toggle="modal" data-title="Im so nice" data-caption="abc" data-target="#image-gallery" >
                        Ispanaklı Piliç
                        Comming Soon.
                    </a>
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore mag...
                </p>
            </div>
        </div>
        <div class="col_1_of_5 span_1_of_5">
            <div class="col_1"><img src="../Scripts/images/pic4.jpg" class="img-responsive" alt="" /></div>
            <div class="desc">
                <h3>
                    <a  data-toggle="modal" data-title="Im so nice" data-caption="abc" data-target="#image-gallery" >
                        Dinner table
                        consept amet.
                    </a>
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore mag...
                </p>
            </div>
        </div>
        <div class="col_1_of_5 span_1_of_5">
            <div class="col_1"><img src="../Scripts/images/pic5.jpg" class="img-responsive" alt="" /></div>
            <div class="desc">
                <h3>
                    <a  data-toggle="modal" data-title="Im so nice" data-caption="abc" data-target="#image-gallery" >
                        “Tiramisu”
                        on the menu.
                    </a>
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore mag...
                </p>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    @*dòng 3*@
    <div class="section_group">
        <div class="col_1_of_5 span_1_of_5">
            <div class="col_1"><img src="../Scripts/images/pic1.jpg" class="img-responsive" alt="" /></div>
            <div class="desc">
                <h3>
                    <a  data-toggle="modal" data-title="Im so nice" data-caption="abc" data-target="#image-gallery" >
                        Baked Chicken
                        B on the menu !
                    </a>
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore mag...
                </p>
            </div>
        </div>
        <div class="col_1_of_5 span_1_of_5 last">
            <div class="col_1"><img src="../Scripts/images/pic2.jpg" class="img-responsive" alt="" /></div>
            <div class="desc">
                <h3>
                    <a  data-toggle="modal" data-title="Im so nice" data-caption="abc" data-target="#image-gallery" >
                        Pay attention to the
                        dinner table layout.
                    </a>
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore mag...
                </p>
            </div>
        </div>
        <div class="col_1_of_5 span_1_of_5">
            <div class="col_1"><img src="../Scripts/images/pic3.jpg" class="img-responsive" alt="" /></div>
            <div class="desc">
                <h3>
                    <a  data-toggle="modal" data-title="Im so nice" data-caption="abc" data-target="#image-gallery" >
                        Ispanaklı Piliç
                        Comming Soon.
                    </a>
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore mag...
                </p>
            </div>
        </div>
        <div class="col_1_of_5 span_1_of_5">
            <div class="col_1"><img src="../Scripts/images/pic4.jpg" class="img-responsive" alt="" /></div>
            <div class="desc">
                <h3>
                    <a  data-toggle="modal" data-title="Im so nice" data-caption="abc" data-target="#image-gallery" >
                        Dinner table
                        consept amet.
                    </a>
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore mag...
                </p>
            </div>
        </div>
        <div class="col_1_of_5 span_1_of_5">
            <div class="col_1"><img src="../Scripts/images/pic5.jpg" class="img-responsive" alt="" /></div>
            <div class="desc">
                <h3>
                    <a  data-toggle="modal" data-title="Im so nice" data-caption="abc" data-target="#image-gallery" >
                        “Tiramisu”
                        on the menu.
                    </a>
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore mag...
                </p>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="image-gallery-title">Đây là tiêu đề ảnh??</h4>
            </div>
            <div class="modal-body">
                <img id="image-gallery-image" class="img-responsive" src="../Scripts/images/pic1.jpg">
            </div>
            <div class="modal-footer">
                @*<div class="col-md-2">
                    <button type="button" class="btn btn-primary" id="show-previous-image">Previous</button>
                </div>*@
                <div class="col-md-8 text-justify" id="image-gallery-caption">
                    Đây là cái gì đó???
                </div>
                @*<div class="col-md-2">
                    <button type="button" id="show-next-image" class="btn btn-default">Next</button>
                </div>*@
            </div>
        </div>
    </div>
</div>